body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2C3E50;
    text-align: center;
    padding: 50px 0;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.header h1 {
    color: #ECF0F1;
    font-size: 2.5em;
    margin-top: 20px;
}

.hero-section {
    background-color: #34495E;
    text-align: center;
    padding: 20px 0;
}

.hero-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-section h1 {
    color: #ECF0F1;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.languages-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language {
    margin: 0 15px;
    padding: 10px;
    border: 2px solid #ECF0F1;
    border-radius: 5px;
    background-color: #2C3E50;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    color: #ECF0F1;
}

.language img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
}

contact-section {
    background-color: #34495E;
    padding: 20px 0;
    text-align: center;
}

.contact-section h2 {
    color: #34495E;
    font-size: 2.5em;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.contact-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.contact-section li {
    margin-bottom: 15px;
    text-align: center; /* Center text within each list item */
}

.contact-section a {
    color: #3498DB;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.contact-section a:hover {
    text-decoration: underline;
}

.site-footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}

.copyright {
    margin-top: 10px;
    font-size: 0.8em;
}
