<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Damian's Portfolio</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
<header class="hero-section">
  <nav>
    <a href="{{ url_for('home')}}">Home</a> |
    <a href="{{ url_for('about')}}">About Me</a> |
    <!-- <a href="{{ url_for('projects')}}">Projects</a> | -->
    <a href="{{ url_for('contact')}}">Contact</a>
  </nav>
    <h1>Magnes <img class="my_img" src="{{url_for('static', filename='img/me.jpeg')}}"></h1>
    <p>Damian's Programming Portfolio</p>
    <!--  more content -->
</header>


</body>
</html>